{% extends 'base.html' %}

{% block contenido %}

<html>
<head>
    <title>Registrar Soporte</title>
</head>
<script type="text/javascript">
$(document).ready(function(){
	

    $('select').on({
		change: function() {
			$(this).parent('div').removeClass('has-error');
		}
    });
    $('input').on({
		keypress: function() {
			$(this).parent('div').removeClass('has-error');
		}
    });
    
	$("#cod_solicitud, #status,#id_modelo").select2();
    $('#descripcion').alphanumeric({allow:",-. "}); //Valida solo valores numericos y texto
    
    $('#registrar_sop').click(function(e) {
		e.preventDefault();
		
		var cod_solicitud = $('#cod_solicitud').find('option').filter(':selected').val()
		var estatus = $('#estatus').find('option').filter(':selected').val()
		 
		if (cod_solicitud == 0) {
			bootbox.alert('Debe seleccionar la solicitud que atendió', function(){
				$('#cod_solicitud').addClass('has-error');
				$('#cod_solicitud').select2('open') 
			});
		}
		else if (!($('#hardware').is(':checked') ) && !($('#software').is(':checked') ) ) {
			bootbox.alert("Debe seleccionar si la falla encontrada fue de hardware y/o sofware", function() {
			}); 
		}
		else if (estatus == 0) {
			bootbox.alert('Debe indicar el Estatus del soporte aplicado', function(){
				$('#estatus').addClass('has-error');
				$('#estatus').select2('open') 
			});
		}
		else if (($('#descripcion').val().trim() == '')) {
			bootbox.alert("Debe colocar la descripción del soporte realizado", function() {
				$('#descripcion').parent('div').addClass('has-error'); // colocar class has-error de boostrap
			}); 
		}
		else{
			$('#form_sopt').submit();
		}
    });
    
    
    $('#volver_sop').click(function(){
        url = '/menu/registros/soporte/'
        window.location = url
    })
    $('#limpiar').click(function(){
        //$('#id_partido').select2('val', '0');
    })
});

</script>

<body>
    <form method="post" id="form_sopt" enctype="multipart/form-data">
	{% csrf_token %}
	<div style="width: 100%;text-transform:uppercase;box-shadow: 0 1px 5px rgba(0,0,0,.85);text-align: left" class="panel panel-danger">
	     <div class="panel-heading text-center">
			<label style="float: left" class="panel-title " ><a style="color: white" href="/menu/registros/soporte/" >Soporte</a>
			> Visualizar</label>
			<br>
		</div>
		<fieldset><legend class="titulo" style="text-align: center">Datos de la Solicitud</legend></fieldset>
	    <div class="form-inline" >
			<div class="col-xs-1" style="font-weight: bolder;">Solicitud</div>
			<div class="col-xs-2">
				
				<select style="width:100%;" class="form-control input-sm" id="cod_solicitud" name="cod_solicitud" disabled="disabled">
					<option value="0">Seleccione</option>
					{% for p in listar_registros %}
						{% if p.id == editar_soporte.cod_solicitud_id %}
						<option value='{{p.id}}' selected='selected'>{{ p.codigo }}</option>
						{% endif %}
						{% if not p.id == editar_soporte.cod_solicitud_id %}
						<option value='{{p.id}}'>{{ p.codigo }}</option>
						{% endif %}
					{% endfor %}
				</select>
			</div>
			<div class="form-group col-xs-3"><label></label></div>
			<div class="form-group col-xs-1" style="font-weight: bolder;">Serial</div>
			<div class="form-group col-xs-2">
				<input id="serial"  style="width: 100%;"  name="serial" type="text" disabled="disabled" value='{{editar_soporte.serial}}' />
			</div>
			<div class="form-group col-xs-1" style="font-weight: bolder;">Modelo</div>
			<div class="form-group col-xs-2">
				<select style="width:100%; " class="form-control input-sm" disabled="disabled" id="id_modelo" name="modelo" >
					<option value="">Seleccione</option>
					{% for c in listar_modelo %}             
						{% if c.id == editar_soporte.modelo.id %}
						<option value="{{c.id}}" selected='selected'>{{c.nombre}}</option>
						{% endif %}
						{% if not c.id == editar_soporte.modelo.id %}
						<option value="{{c.id}}">{{c.nombre}}</option>
						{% endif %}
					{% endfor %}
				</select>
			</div>
	    </div>
	    <br/> <br/><br/>
		<div class="form-inline">
			<div class="form-group col-xs-1"><label style="font-size: 13px" >Descripción</label></div>
			<div class="form-group col-xs-11" style="text-align: left;font-weight: bold">
				<textarea style="width: 100%;font-size: 13px" cols="135" id="problema" disabled="disabled" name="problema" rows="2" >{{editar_soporte.problema}}</textarea>
			</div>
	    </div>
	    <br/><br/><br/><br/><br/>
		<fieldset><legend class="titulo" style="text-align: center">Datos del Soporte</legend></fieldset>
		<div class="form-inline" >
			<div class="col-xs-2">
				<label>Hardware&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
				<input type="checkbox" id="hardware" disabled="disabled" name="hardware"
					{% if editar_soporte.hardware == True %}
					checked="checked"
					{% endif %}/>
			</div>
			<div class="form-group col-xs-2">
				<label>Software&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
				<input type="checkbox" id="software" disabled="disabled" name="software"
					{% if editar_soporte.software == True %}
					checked="checked"
					{% endif %}/>
			</div>
			<div class="col-xs-1" style="font-weight: bolder;">Estatus</div>
			<div class="col-xs-2">
				<select style="width:100%;" class="form-control input-sm" disabled="disabled" id="status" name="status" >
					{% if editar_soporte.status == 0 %}
					<option value='0' selected='selected'>Seleccione</option>
					{% endif %}
					{% if not editar_soporte.status == 0 %}
						<option value='0'>----------------</option>
					{% endif %}
					{% if editar_soporte.status == '2' %}
						<option value='2' selected='selected'>REMITIDA</option>
					{% endif %}
					{% if not editar_soporte.status == '2' %}
						<option value='2'>Reparada</option>
					{% endif %}
					{% if editar_soporte.status == '3' %}
						<option value='3' selected='selected'>REPARADA</option>
					{% endif %}
					{% if not editar_soporte.status == '3' %}
						<option value='3'>Remitida</option>
					{% endif %}
				</select>
			</div>
			<div class="form-group col-xs-1"><label>Usuario</label></div>
			<div class="form-group col-xs-2">
				<span style="color: red; font-weight: bold">{{editar_soporte.user_create|upper}}</span>
			</div>
	    </div>
	    <br/><br/><br/>
	    <div class="form-inline">
			<div class="form-group col-xs-1"><label style="font-size: 13px" >Descripción</label></div>
			<div class="form-group col-xs-11" style="text-align: left;font-weight: bold">
				<textarea style="width: 100%;font-size: 13px" cols="135" id="descripcion" disabled="disabled" name="descripcion" rows="2" >{{editar_soporte.descripcion}}</textarea>
			</div>
	    </div>
		<input id='user_update' type="hidden" name='user_update' value='{{ user.id }}'>
	    <input id='user_create' type="hidden" name='user_create' value='{{editar_soporte.user_create.id}}'>
	    <br/><br/><br/><br/><br/>
	    <div class="row" style="text-align: center">
			<button type="button" id="volver_sop" style="font-weight: bold;font-size: 13px" class="btn btn-warning " >
				&nbsp;<span class="glyphicon glyphicon-chevron-left"></span>&nbsp;Volver
			</button>
	    </div>
		<br/>
	</div>
	<br/>
    </form>
</body>
</html>
{% endblock %}